body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

form {
  border-width: 1pt;
  border-style:ridge;
}

button, input[type=submit]{
  cursor: pointer;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  text-decoration: none;
  background-color: rgb(148, 145, 145);
  color: rgb(221, 221, 221);
  border-radius: 25px;
  text-align: center;
  position: relative;
  transition: all .35s;
  border: none;
}

button span, input[type=submit] span{
  position: relative;
  z-index: 2;
}

button:after, input[type=submit]:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00ff2a41;
  border-radius: 25px;
  transition: all .35s;
}

button:hover, input[type=submit]:hover{
  color: rgb(0, 0, 0);
  font-style: bold;
}

button:hover:after, input[type=submit]:hover:after{
  width: 100%;
}

#urlhtml, #apitoken {
  width: 100%;
}

#tutoriallink {
  text-decoration: none;
  font-size: 8pt;
  border-radius: 10px;
}

input[type=text], input[type=datetime-local] {
  border-radius: 8px;
  border: none;
  background-color: rgb(228, 228, 228);
  outline: none;
}

input[type=text]:focus, input[type=datetime-local]:focus {
  border-width: 2px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #909490;
  content: '';
  display: inline-block;
  visibility: visible;
  border: none;
}

input[type=radio]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #31a0c2;
  content: '';
  display: inline-block;
  visibility: visible;
  border: none;
}

p {
  line-height: 25px;
  font-family: monospace;
  font-size: 12pt;
  font-weight: bold;
}

#bodyhtml {
  padding: 10px;
}

#form-box {
  background-color: rgb(212, 223, 224);
  max-width: 900px;
  margin: auto;
  padding: 10px;
  border-radius: 65px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  padding: 5px;
  width: 85%;
  text-align: center;
  font-size: 15px;
  background-color:rgba(53, 53, 53, 0);
  border: none;
  border-radius: 10px;
  color:rgb(0, 0, 0);
}

.collapsible:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(128, 155, 228, 0.253);
  border-radius: 25px;
  transition: all .35s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
#collapsiblecontent {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#md-body {
	width: auto;
  line-height: 20px;                   
	white-space: pre-wrap;             
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap; 
	white-space: -o-pre-wrap; 
	word-wrap: break-word; 
}

.html-list {
  background-color: rgba(129, 129, 129, 0.507);
  color:rgb(221, 221, 221);
  font-family: monospace;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 5px;
}

.generation-button {
  background-color: rgb(142, 218, 104);
  color:rgb(53, 53, 53);
  border-width: 2px;
}

.clearall-button {
  background-color: rgb(218, 112, 112);
  color:rgb(53, 53, 53);
  border-width: 2px;
}

.clearall-button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ec323241;
  border-radius: 25px;
  transition: all .35s;
}

.copylink-button {
  background-color: rgb(128, 155, 228);
  color:rgb(53, 53, 53);
  border-width: 2px;
}

.copylink-button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #2e86c021;
  border-radius: 25px;
  transition: all .35s;
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}

.clear-buttons {
  font-size: 12px;
}

/* #list-table {
  width: 100%;
  border-width: 1px;
  border-style: dotted;
  border-radius: 25px;
} */

.lists-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
}

.lists-container h4 {
  font-size: 18px;
}

.lists-container button {
  border-radius: 5px;
  font-size: 13px;
}

.list-table {
  width: 330px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #00000011;
  border-width: 1px;
  border-radius: 25px;
}