body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  background-color: darkgray;
  color: rgb(255, 255, 255);
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

form {
  border-width: 1pt;
  border-style:ridge;
}

button, input[type=submit]{
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  text-decoration: none;
  background-color: rgb(148, 145, 145);
  color: rgb(221, 221, 221);
  border: 1px solid #333;
  border-radius: 25px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

button span, input[type=submit] span{
  position: relative;
  z-index: 2;
}

button:after, input[type=submit]:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00ff2a41;
  border-radius: 25px;
  transition: all .35s;
}

button:hover, input[type=submit]:hover{
  color: rgb(0, 0, 0);
  font-style: bold;
}

button:hover:after, input[type=submit]:hover:after{
  width: 100%;
}

#urlhtml, #apitoken {
  width: 350px;
}

#tutoriallink {
  text-decoration: none;
  font-size: 10pt;
  background-color:rgb(129, 129, 129);
  border-radius: 10px;
}

input[type=text], input[type=datetime-local] {
  border-radius: 8px;
  border-width: 1px;
  border-color: none;
  background-color: rgb(228, 228, 228);
  outline: none;
}

input[type=text]:focus, input[type=datetime-local]:focus {
  border-width: 2px;
}

p {
  line-height: 15px;
  font-family: monospace;
  font-weight: bold;
}

pre {
	width: auto;                   
	white-space: pre-wrap;             
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap; 
	white-space: -o-pre-wrap; 
	word-wrap: break-word; 
}

#bodyhtml {
  padding: 10px;
}