body {
  background-color: rgb(28, 33, 40);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

form {
  border-width: 1pt;
  border-style:ridge;
}

header {
  color: white;
  font-size: 12px;
}

button, input[type=submit]{
  cursor: pointer;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  text-decoration: none;
  background-color: rgb(148, 145, 145);
  color: rgb(221, 221, 221);
  border-radius: 25px;
  text-align: center;
  position: relative;
  transition: all .35s;
  border: none;
}

button span, input[type=submit] span{
  position: relative;
  z-index: 2;
}

button:after, input[type=submit]:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #02551041;
  border-radius: 25px;
  transition: all .35s;
}

button:hover, input[type=submit]:hover{
  color: rgb(0, 0, 0);
  font-style: bold;
}

button:hover:after, input[type=submit]:hover:after{
  width: 100%;
}

#urlhtml, #apitoken {
  width: 100%;
}

a {
  color: rgba(127, 143, 187, 0.767);
  text-decoration: none;
}

a:visited {
  color: rgb(105, 210, 224);
}

#tutoriallink {
  text-decoration: none;
  font-size: 8pt;
  border-radius: 10px;
}

#tutoriallink:visited {
  color: rgb(35, 73, 177);
}

input[type=text], input[type=datetime-local] {
  border-radius: 3px;
  border: none;
  background-color: rgb(128, 155, 228);
  outline: none;
}

::placeholder {
  color:rgb(88, 88, 88)
}

input[type=text]:focus, input[type=datetime-local]:focus {
  border-width: 2px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #909490;
  content: '';
  display: inline-block;
  visibility: visible;
  border: none;
}

input[type=radio]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #429ee9;
  content: '';
  display: inline-block;
  visibility: visible;
  border: none;
}

p {
  line-height: 25px;
  font-family: monospace;
  font-size: 12pt;
  font-weight: bold;
}

#bodyhtml {
  padding: 10px;
  color: rgba(255, 255, 255, 0.801);
}

#form-box {
  background-color: rgba(255, 255, 255, 0.877);
  max-width: 900px;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  padding: 5px;
  width: 85%;
  text-align: center;
  font-size: 15px;
  background-color:rgba(128, 155, 228, 0.158);
  border: none;
  border-radius: 25px;
  color:rgb(0, 0, 0);
}

.collapsible:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(128, 155, 228, 0.37);
  border-radius: 25px;
  transition: all .35s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
#collapsiblecontent {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#md-body {
	width: auto;
  line-height: 20px;                   
	white-space: pre-wrap;             
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap; 
	white-space: -o-pre-wrap; 
	word-wrap: break-word; 
}

.html-list {
  background-color: rgb(128, 155, 228);
  color:rgb(0, 0, 0);
  font-family: monospace;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 5px;
}

.generation-button {
  background-color: rgb(128, 228, 151);
  color:rgb(53, 53, 53);
  border-width: 2px;
}

.clearall-button {
  background-color: rgb(228, 128, 157);
  color:rgb(53, 53, 53);
  border-width: 2px;
}

.clearall-button:after, .removebutton:after, .listdefbutton:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #c0000050;
  transition: all .35s;
  border-radius: 25px;
}

.copylink-button {
  background-color: rgb(128, 155, 228);
  color:rgb(53, 53, 53);
  border-width: 2px;
}

.copylink-button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #01263f21;
  border-radius: 25px;
  transition: all .35s;
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}

.lists-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
}

.lists-container h4 {
  font-size: 18px;
}

.lists-container button {
  border-radius: 25px;
  font-size: 13px;
}

.list-table {
  width: 330px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: rgb(28, 33, 40);
  border-width: 1px;
  border-radius: 5px;
}

.addbutton {
  background-color: rgb(128, 228, 151);
  color: rgb(0, 0, 0);
}

.removebutton, .listdefbutton {
  background-color: rgb(228, 128, 157);
  color: rgb(0, 0, 0);
}